* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(112deg, #fda085 0%, #f8d152 100%);
  color: white;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

header h1 {
  font-size: 40px;
}

header,
form {
  min-height: 20vh;
  /*     center the items horizontaly */
  display: flex;
  justify-content: center;
  /*     center the items verticaly */
  align-items: center;
}

form input,
form button {
  padding: 9px;
  border: none;
  color: black;
  background-color: white;
  padding: 1rem;
  font-size: 20px;
}

form button {
  color: #fd714b;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #fd714b;
  color: white;
}

form input,
form button,
.todo button:focus {
  outline: none;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  color: black;
  margin: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  transition: all 0.3s ease;
}

.todo li {
  padding: 0px 9px;
  flex: 1;
  font-size: 20px;
}

.todo button {
  background-color: #fd714b;
  border: none;
  padding: 15px;
  color: white;
  cursor: pointer;
}

.todo button.complete-button {
  background-color: #44ce44;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
select {
  border: none;
  appearance: none;
  outline: none;
}
.filter-todo {
  color: #fd714b;
  background: #fff;
  font-size: 1rem;
  width: 10rem;
  padding: 1rem;
  cursor: pointer;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.fas {
  pointer-events: none;
}
.fa-sort-down {
  color: #fd714b;
  background-color: #fff;
  padding: 1rem;
  position: absolute;
  top: -5px;
  right: 0;
}
